<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Mortgage Analysis Tool</title>
  <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
    <header>
		<nav>
			<ul>
                 <li><a href="html.html">Home</a></li>
				<li><a href="workbook.html">Workbook</a></li>
				<li><a href="beneMaker.html">Benefit Maker</a></li>
                <li><input type="search" placeholder="Search"></li>             
			</ul>
          
		</nav>
	</header>

    
  <h1>Mortgage Analysis Tool</h1>
  <!-- <button class="addNew-btn">Add Worksheet</button>-->



  <!-- SAVINGS-->

  <div class='savings'>
    <h2>Savings </h2>
    <table id="savingsTable">
      <tr>
        <th>Monthly Savings</th>
        <th>Annual Savings</th>
        <th>Consumer Debt Paid:</th>
        <th>ADJ to Fixed:</th>
        <th>Term Reduction:</th>
        <th>Payment Reduction:</th>
        <th>Recoup:</th>
      </tr>
      <tr>
        <td><input type="number" name="monthlySavings"></td>
        <td><input type="number" name="annualSavings"></td>
        <td><input type="number" name="debtPaid"></td>
        <td><input type="checkbox" name="adjtoFix"></td>
        <td><input type="checkbox" name="termReduction"></td>
        <td><input type="number" name="paymentmReduction"></td>
        <td><input type="number" name="recoup"></td>
      </tr>
    </table>
</div>


  <!-- DEBT TO INCOME -->
    <div class="dti">
      <h2>Debt to Income</h2>
      <div class="form-group">
        <label for="frontRatio">Front End Ratio:</label>
        <input type="text" class="form-control" id="frontRatio" ng-model="frontRatio" disabled>
      </div>
      <div class="form-group">
        <label for="backRatio">Back End Ratio:</label>
        <input type="text" class="form-control" id="backRatio" ng-model="backRatio" disabled>
      </div>
    </div>
  

     




  <!-- Payoffs and Payments section -->
  <div class='child1'>
    <div>
        <h2>Income</h2>
        <table id="incomeBorrow">
            <tr>
                <th>Borrower's Monthly Income</th>
                <th>Co-Borrower's Monthly Income</th>
            </tr>
            <tr>
              <td><input type="number" name="borrowersIncome"></td>
              <td><input type="number" name="coborrowersIncome"></td>
            </table>
        
        </div>
        

    <h2>Payoffs and Payments</h2>
    <table id="paymentTable">
      <tr>
        <th></th>
        <th>Loan Balance</th>
        <th>Payment</th>
        <th>Sub</th>
      </tr>
      <tr>
        <td>1st</td>
        <td><input type="number" name="loanBalance1"></td>
        <td><input type="number" name="payment1"></td>
        <td><input type="checkbox" name="sub1"></td>
      </tr>
      <tr>
        <td>2nd</td>
        <td><input type="number" name="loanBalance2"></td>
        <td><input type="number" name="payment2"></td>
        <td><input type="checkbox" name="sub2"></td>
      </tr>
      <tr>
        <td>3rd</td>
        <td><input type="number" name="loanBalance3"></td>
        <td><input type="number" name="payment3"></td>
        <td><input type="checkbox" name="sub3"></td>
      </tr>
    </table>


  </div>
  


  <!-- New Loan sections -->
    <div class='newLoan'>
      <h2>New Loan</h2>
      <form>
        <table>
          <tr>
            <td><label>Sales Price:</label></td>
            <td><input type="number" name="salesPrice"></td>
          </tr>
          <tr>
            <td><label>Down Payment:</label></td>
            <td><input type="number" name="downPayment"></td>
          </tr>
          <tr>
            <td><label>Market Value:</label></td>
            <td><input type="number" name="marketValue"></td>
          </tr>
          <tr>
            <td><label>LTV/CLTV:</label></td>
            <td><input type="number" name="ltvCltv">ltv</td>
         <td COLSPAN="2">CLTV</td>

          </tr>
          <tr>
            <td><label>Base Loan Amount:</label></td>
            <td><input type="number" name="baseLoanAmount"></td>
          </tr>
          <tr>
            <td><label>Subordinated:</label></td>
            <td><input type="number" name="subordinated"></td>
          </tr>
          <tr>
            <td><label>FF/UMIP:</label></td>
            <td><input type="number" name="ffUmip">%</td>
            <td COLSPAN="2">$</td>

          </tr>
          <tr>
            <td><label>UMIP Refund:</label></td>
            <td><input type="number" name="umipRefund"></td>
          </tr>
          <tr>
            <td><label>Total Loan Amount:</label></td>
            <td><input type="number" name="totalLoanAmount"></td>
          </tr>
          <tr>
            <td><label>Note Rate:</label></td>
            <td><input type="number" name="noteRate"></td>
          </tr>
        </table>
      </form>
    </div>  
  

 <!-- PROPOSED Loan sections -->

 <div class='benetobwr'>
   <h2>Benefit to the Borrower</h2>
    <table >
      <th></th>
      <th>Existing Loan</th>
      <th>Proposed Loan</th>
      <tr>
        <td><label for="pi">PI:</label></td>
        <td><input type="number" id="pi" name="existingPI"></td>
        <td><input type="number" id="pi" name="proposedPI"></td>
      </tr>
      <tr>
        <td><label for="taxes">Taxes:</label></td>
        <td><input type="number" id="taxes" name="existingTaxes"></td>
        <td><input type="number" id="taxes" name="proposedTaxes"></td>
        <td><input type="checkbox" id="taxes" name="escrowTaxes"></td>
      </tr>
      <tr>
        <td><label for="insurance">Insurance:</label></td>
        <td><input type="number" id="insurance" name="existingInsurance"></td>
        <td><input type="number" id="insurance" name="proposedInsurance"></td>
        <td><input type="checkbox" id="insurance" name="escrowInsurance"></td>
      </tr>
      <tr>
        <td><label for="insurance">Flood Insurance:</label></td>
        <td><input type="number" id="insurance" name="existingFloodInsurance"></td>
        <td><input type="number" id="insurance" name="proposedFloodInsurance"></td>
        <td><input type="checkbox" id="insurance" name="escrowFloodInsurance"></td>
      </tr>
      <tr>
        <td><label for="pmi">PMI:</label></td>
        <td><input type="number" id="pmi" name="existingPMI"></td>
        <td><input type="number" id="pmi" name="proposedPMI"></td>
        <td><input type="number" id="pmi" name="proposedPMIamount"></td>

      </tr>
      <tr>
        <td><label for="hoa">HOA:</label></td>
        <td><input type="number" id="hoa" name="existingHOA"></td>
        <td><input type="number" id="hoa" name="proposedHOA"></td>
      </tr>
      <tr>
        <td><label for="mortgagePayment">Mortgage Payment:</label></td>
        <td><input type="number" id="mortgagePayment" name="existingmortgagePayment"></td>
        <td><input type="number" id="mortgagePayment" name="proposedmortgagePayment"></td>  
      </tr>
      <tr>
        <td><label for="currentPayment">Overage/Shartage:</label></td>
        <td><input type="number" id="overageShartage" name="over"></td>
      </tr>
      <tr>
        <td><label for="proposedPayment">Total Payment:</label></td>
        <td><input type="number" id="currentPayment" name="currentPayment"></td>
        <td><input type="number" id="proposedPayment" name="proposedPayment"></td>  
      </tr>
  </table>
  </div>
  









<!-- OTHER FEES -->

<div class='otherFees'>
    <h2>Other Fees</h2>
    <table>
      <tr>
        <td><label>3rd Party Fee:</label></td>
        <td><input type="number" name="thirdParty"></td>
      </tr>
      <tr>
        <td><label>Appraisal Fee:</label></td>
        <td><input type="number" name="appraisalFee"></td>
      </tr>
      <tr>
        <td><label>Investor Fee:</label></td>
        <td><input type="number" name="investorFee"></td>
      </tr>
      <tr>
        <td><label>Paded Taxes:</label></td>
        <td><input type="number" name="paymentPadTaxes"></td>
      </tr>
      <tr>
        <td><label>Paded Insurance:</label></td>
        <td><input type="number" name="paymentPadInsurace"></td>
      </tr>
      <tr>
        <td><label>Lender Credit:</label></td>
        <td><input type="number" name="lenderCredit"></td>
      </tr>
      <tr>
        <td><label>Total Closing Costs:</label></td>
        <td><input type="number" name="closingCosts"></td>
      </tr>
      <tr>
        <td><label>Cash Out(Bring to Close):</label></td>
        <td><input type="number" name="cashOut"></td>
      </tr>
    </table>
  </div>


  <!-- Consumer Debt -->
  <div class='ConsumerDebt1'>
    <h2>Consumer Debt</h2>
    <table id="consumerDebt">
      <tr>
        <th>Debtor</th>
        <th>Type</th>
        <th>Balance</th>
        <th>Monthly</th>
        <th>Omit</th>
        <th>Pay</th>
        <th>Term</th>
        <th>Rate</th>
      </tr>
      <tr>
        <td><input type="text" name=""></td>
        <td><input type="text" name=""></td>
        <td><input type="number" name=""></td>
        <td><input type="number" name=""></td>
        <td><input type="checkbox" name=""></td>
        <td><input type="checkbox" name=""></td>
      </tr>
      <tr>
        <td><input type="text" name=""></td>
        <td><input type="text" name=""></td>
        <td><input type="number" name=""></td>
        <td><input type="number" name=""></td>
        <td><input type="checkbox" name=""></td>
        <td><input type="checkbox" name=""></td>
      </tr>
      <tr>
        <td><input type="text" name=""></td>
        <td><input type="text" name=""></td>
        <td><input type="number" name=""></td>
        <td><input type="number" name=""></td>
        <td><input type="checkbox" name=""></td>
        <td><input type="checkbox" name=""></td>
      </tr>
      <tr>
        <td><input type="text" name=""></td>
        <td><input type="text" name=""></td>
        <td><input type="number" name=""></td>
        <td><input type="number" name=""></td>
        <td><input type="checkbox" name=""></td>
        <td><input type="checkbox" name=""></td>
      </tr>
      <tr>
        <td><input type="text" name=""></td>
        <td><input type="text" name=""></td>
        <td><input type="number" name=""></td>
        <td><input type="number" name=""></td>
        <td><input type="checkbox" name=""></td>
        <td><input type="checkbox" name=""></td>
      </tr>
      <tr>
        <td><input type="text" name=""></td>
        <td><input type="text" name=""></td>
        <td><input type="number" name=""></td>
        <td><input type="number" name=""></td>
        <td><input type="checkbox" name=""></td>
        <td><input type="checkbox" name=""></td>
      </tr>
    </table>
  </div>
 

  
    





<!-- Debt to Income section

<div class='child1'>

    <div class="col-md-12"></div>
    <h3>Debt to Income</h3>
    <div class="form-group">
      <label for="income">Monthly Income:</label>
      <input type="text" class="form-control" id="income" placeholder="Monthly Income">
    </div>
    <div class="form-group">
      <label for="dtiFront">Front-End DTI Ratio:</label>
      <input type="text" class="form-control" id="dtiFront" placeholder="Front-End DTI Ratio">
    </div>
    <div class="form-group">
      <label for="dtiBack">Back-End DTI Ratio:</label>
      <input type="text" class="form-control" id="dtiBack" placeholder="Back-End DTI Ratio">
    </div>
</div>
-->

 


<div class='pricingSection'>
    <h2>Pricing </h2>
    <table id="pricingTable">
      <tr>
        <th>Description</th>
        <th>Rate</th>
        <th>YSP %</th>
        <th>YSP $</th>
        <th>BD %</th>
        <th>BD  $</th>
        <th>Select</th>
      </tr>
      <tr>
        <td><input type="text"></td>
        <td><input type="number" name="noteRate1"></td>
        <td><input type="number" name="ysp1"></td>
        <td><input type="number"></td>
        <td><input type="number" name="bd1"></td>
        <td><input type="number"></td>
        <td><input type="checkbox" name="select1"></td>
      </tr>
      <td><input type="text"></td>
      <td><input type="number" name="noteRate1"></td>
      <td><input type="number" name="ysp1"></td>
      <td><input type="number"></td>
      <td><input type="number" name="bd1"></td>
      <td><input type="number"></td>
      <td><input type="checkbox" name="select1"></td>
    </tr>
    <td><input type="text"></td>
    <td><input type="number" name="noteRate1"></td>
    <td><input type="number" name="ysp1"></td>
    <td><input type="number"></td>
    <td><input type="number" name="bd1"></td>
    <td><input type="number"></td>
    <td><input type="checkbox" name="select1"></td>
  </tr>
  <td><input type="text"></td>
  <td><input type="number" name="noteRate1"></td>
  <td><input type="number" name="ysp1"></td>
  <td><input type="number"></td>
  <td><input type="number" name="bd1"></td>
  <td><input type="number"></td>
  <td><input type="checkbox" name="select1"></td>
</tr>
    </table>
  </div>
  





<div class="notes">
    <h2>Comments Section</h2>
  <form>
    <label for="comment">Add a comment:</label>
    <input type="text" id="comment" name="comment">
    <button type="button" onclick="addComment()">Add Comment</button>
  </form>
  <div id="comments-section">
    <h2>Comments:</h2>
    <ul id="comments-list"></ul>
  </div>
</div>


















  <footer>
    <img src="posedonmtg.png" width="250" height="100">
    <p>&copy; 2023 Poseidons Mortgage Team United</p>
</footer>

<script src="https://cdn.jsdelivr.net/npm/chart.js@3.6.2/dist/chart.min.js"></script>
  
<script src="main.js"></script>


</html>


          